# Requirements for Library Management System (Tkinter Version)

python>=3.8

# #how to run 
# cd "G:\university\semes 6\SCD\Assigments\3\code battle\LibraryManagementSystem\library_gui_tk>"
# venv\Scripts\activate
# python -m gui.app